body {background-color: black; 

    margin-bottom: 1110px;
    
    }
    h1 {  
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    
    }
    
    h2 {      
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    
    
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 10px;
    
    }
    
    
    a :hover {
        background: #03e9f4;
        color: #050801;
        box-shadow: 0 0 5px #03e9f4,
                    0 0 25px #03e9f4,
                    0 0 50px #03e9f4,
                    0 0 200px #03e9f4;
         -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
    }
    a :active{
    
        background: #ffffff;
        color: #050801;
        box-shadow: 0 0 5px #03e9f4,
                    0 0 25px #03e9f4,
                    0 0 50px #03e9f4,
                    0 0 200px #03e9f4;
         -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
    }
    
    .grid-container {
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-gap: 10px;
      background-color: #000000;
      padding: 20px;
    }
    
    .grid-container > div {
      background-color: rgba(0, 0, 0, 0.8);
      text-align: center;
      padding: 200px 0;
      font-size: 30px;
    }
    .grid-container :hover {
        background: #03e9f4;
        color: #050801;
        box-shadow: 0 0 5px #03e9f4,
                    0 0 25px #03e9f4,
                    0 0 50px #03e9f4,
                    0 0 200px #03e9f4;
         -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
    }
    .grid-container :active{
    
    background: #000000;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
    }
    